<footer class="footer">
    <hr>
    <div class="footer-left">
        <p>blazedkitsune</p>
        <a class="source" href="https://github.com/blazedkitsune/blazedkitsune.tech">source code</a>
    </div>
    <div class="footer-right">
        <p>more bullshit</p>
        <p>🏳️‍🌈</p>
    </div>
</footer>