---
title: Test Layout
---
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{{ title }}</title>
    <link href="/assets/images/cat.ico" rel="icon" type="image/ico">
    <link href="/css/main.css" rel="stylesheet">
    <script defer src="/js/main.js"></script>
</head>
<body>
<main>
    {% include "nav.html" %}
    <div class="content">
        {{ content | safe }}
    </div>
</main>
</body>
</html>